// Переменные цветов input
$color_gray-blue: #f5f7fa;
$color_error-red: #d15901;
$color_error-background: #fff7f1;
$color_bright-yellow: #e6cf00;
$color_pale-yellow: #fffff7;
$color_text-default: #101012;
$color_black-default: #424242;
$color_light-gray: #b7b7b7;
$color_light-gray-button: #e2e2e2;
$color_telegram: #27a5e5;

// Цвета главной страницы
$color_white: #fff;
$color_gold: #FCE058;
$color_gold-active: #ffc83b;

// Цвета с шапки
$color_border: #d9d9d9;

$color_profile-background: #fafafa;

$color_hover_board: #f1f2f3;
$color_skeleton: rgb(243,243,243);
