/* Mulish с жирностью 200 (Light) */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-ExtraLight.ttf");
  font-weight: 200;
}
/* Mulish с жирностью 200 и курсивом */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

/* Mulish с жирностью 300 (Book) */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-Light.ttf");
  font-weight: 300;
}
/* Mulish с жирностью 300 и курсивом */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

/* Mulish с жирностью 400 (Regular) */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-Regular.ttf");
  font-weight: 400;
}
/* Шрифт с жирностью 400 и курсивом */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

/* Mulish с жирностью 400 (Regular) */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-Medium.ttf");
  font-weight: 500;
}
/* Mulish с жирностью 400 и курсивом */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

/* Mulish с жирностью 600 (Semi-Bold) */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-SemiBold.ttf");
  font-weight: 600;
}

/* Mulish с жирностью 600 и курсивом */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

/* Mulish с жирностью 700 (Bold) */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-Bold.ttf");
  font-weight: 700;
}

/* Mulish с жирностью 700 и курсивом */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

/* Mulish с жирностью 800 (Extra-Bold) */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-ExtraBold.ttf");
  font-weight: 800;
}

/* Mulish с жирностью 800 и курсивом */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
